In [7]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp310-cp310-win_amd64.whl (11.6 MB)
     --------------------------------------- 11.6/11.6 MB 50.3 MB/s eta 0:00:00
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     ------------------------------------- 345.4/345.4 kB 20.9 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\jalal\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.26.4)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     ---------------------------------------- 505.5/505.5 kB ? eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jalal\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\jalal\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.1 pytz-2024.1 tzdata-2024.1

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: C:\Users\Jalal\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [36]:
import pandas as pd
import math

In [46]:
# Charger le fichier pour avoir un aperçu des premières lignes
df = pd.read_csv("C:/Users/Jalal/Desktop/Projet_MrSelami/data/bikes.csv", sep =',')
df.head()

       bike.id;model;category1;category2;frame;price
0  1;Supersix Evo Black Inc.;Road;Elite Road;Carb...
1  2;Supersix Evo Hi-Mod Team;Road;Elite Road;Car...
2  3;Supersix Evo Hi-Mod Dura Ace 1;Road;Elite Ro...
3  4;Supersix Evo Hi-Mod Dura Ace 2;Road;Elite Ro...
4  5;Supersix Evo Hi-Mod Utegra;Road;Elite Road;C...

In [47]:
# Supposons que `df` est votre DataFrame et que la colonne unique contient toutes les informations séparées par ';'
# Nous allons d'abord renommer cette colonne pour simplifier, si ce n'est pas déjà fait
df.columns = ['data']

# Diviser la colonne 'data' en plusieurs colonnes
df_expanded = df['data'].str.split(';', expand=True)

# Renommer les nouvelles colonnes
df_expanded.columns = ['bike.id', 'model', 'category1', 'category2', 'frame', 'price']

# Afficher les premières lignes pour vérifier
print(df_expanded.head())

  bike.id                           model category1   category2   frame  price
0       1         Supersix Evo Black Inc.      Road  Elite Road  Carbon  12790
1       2        Supersix Evo Hi-Mod Team      Road  Elite Road  Carbon  10660
2       3  Supersix Evo Hi-Mod Dura Ace 1      Road  Elite Road  Carbon   7990
3       4  Supersix Evo Hi-Mod Dura Ace 2      Road  Elite Road  Carbon   5330
4       5      Supersix Evo Hi-Mod Utegra      Road  Elite Road  Carbon   4260

In [48]:
df_expanded

,bike.id,model,category1,category2,frame,price
0,1,Supersix Evo Black Inc.,Road,Elite Road,Carbon,12790
1,2,Supersix Evo Hi-Mod Team,Road,Elite Road,Carbon,10660
2,3,Supersix Evo Hi-Mod Dura Ace 1,Road,Elite Road,Carbon,7990
3,4,Supersix Evo Hi-Mod Dura Ace 2,Road,Elite Road,Carbon,5330
4,5,Supersix Evo Hi-Mod Utegra,Road,Elite Road,Carbon,4260
...,...,...,...,...,...,...
92,93,Trail 5,Mountain,Sport,Aluminum,815
93,94,Catalyst 1,Mountain,Sport,Aluminum,705
94,95,Catalyst 2,Mountain,Sport,Aluminum,585
95,96,Catalyst 3,Mountain,Sport,Aluminum,480
96,97,Catalyst 4,Mountain,Sport,Aluminum,415

In [49]:

# Calcul des statistiques descriptives pour la colonne `price`
price_stats = df_expanded['price'].describe()

price_stats

count       97
unique      53
top       3200
freq         9
Name: price, dtype: object

In [50]:
# Convertir la colonne 'price' en nombre décimal (float)
df_expanded['price'] = pd.to_numeric(df_expanded['price'], errors='coerce')

# Après la conversion, vous pouvez calculer l'écart type
price_std = df_expanded['price'].std()

# Afficher l'écart type
print(price_std)
price_stats['std'] = price_std
price_stats

2871.8917102277574

count             97
unique            53
top             3200
freq               9
std       2871.89171
Name: price, dtype: object

In [51]:
# Distribution des catégories de vélos
category1_counts = df_expanded['category1'].value_counts()
category2_counts = df_expanded['category2'].value_counts()

category1_counts, category2_counts

(category1
 Mountain    51
 Road        46
 Name: count, dtype: int64,
 category2
 Elite Road            21
 Cross Country Race    19
 Endurance Road        16
 Trail                 13
 Sport                  9
 Over Mountain          8
 Triathalon             5
 Cyclocross             4
 Fat Bike               2
 Name: count, dtype: int64)

In [52]:
# Distribution des types de cadre
frame_counts = df_expanded['frame'].value_counts()
frame_counts

frame
Carbon      57
Aluminum    40
Name: count, dtype: int64

In [53]:
# Prix moyen par catégorie principale et sous-catégorie
mean_price_by_category1 = df_expanded.groupby('category1')['price'].mean()
mean_price_by_category2 = df_expanded.groupby('category2')['price'].mean()

# Prix moyen par type de cadre
mean_price_by_frame = df_expanded.groupby('frame')['price'].mean()

mean_price_by_category1, mean_price_by_category2, mean_price_by_frame

(category1
 Mountain    4255.294118
 Road        3619.456522
 Name: price, dtype: float64,
 category2
 Cross Country Race    5696.315789
 Cyclocross            2415.000000
 Elite Road            3869.761905
 Endurance Road        3513.750000
 Fat Bike              2930.000000
 Over Mountain         5275.000000
 Sport                  881.111111
 Trail                 4061.538462
 Triathalon            3870.000000
 Name: price, dtype: float64,
 frame
 Aluminum    1979.625000
 Carbon      5339.122807
 Name: price, dtype: float64)