In [1]:
import pandas as pd
import math

In [4]:
# Charger le fichier pour avoir un aperçu des premières lignes
df_orders = pd.read_excel("C:/Users/Jalal/Desktop/Projet_MrSelami/data/orders.xlsx")
df_orders.head()

,Unnamed: 0,order.id,order.line,order.date,customer.id,product.id,quantity
0,1,1,1,2011-01-07,2,48,1
1,2,1,2,2011-01-07,2,52,1
2,3,2,1,2011-01-10,10,76,1
3,4,2,2,2011-01-10,10,52,1
4,5,3,1,2011-01-10,6,2,1

In [5]:
print(df_orders['product.id'].describe())

count    15644.000000
mean        49.475326
std         28.231556
min          1.000000
25%         25.000000
50%         48.000000
75%         75.000000
max         97.000000
Name: product.id, dtype: float64

In [8]:
# Calcul de l'écart type pour la même colonne
print(df_orders['product.id'].std())

print(df_orders['order.id'].value_counts())

# Prix (ou autre mesure) moyen par catégorie
# Remplacer 'nom_colonne_categorique' et 'nom_colonne_numerique' par les noms réels
print(df_orders.groupby('order.id')['product.id'].mean())

28.23155579414931
order.id
1121    30
491     30
814     30
1013    30
127     30
        ..
679      1
680      1
1164     1
683      1
1001     1
Name: count, Length: 2000, dtype: int64
order.id
1       50.00
2       64.00
3       18.20
4       26.00
5       67.25
        ...
1996    42.50
1997    29.00
1998    65.50
1999    14.00
2000    38.50
Name: product.id, Length: 2000, dtype: float64